body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #5b8b02;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
}

h2 {
    color: #5b8b02;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #F4EAD5;
}

.holistic {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 300px;
}

.service-row {
    text-align: left;
    line-height: 2;
    width: 50%;
    margin: 100px auto 100px;
}

#tree {
    height: 250px;
    width: 250px;
}

#profile {
    height: 250px;
}

.diet-img {
    height: 200px;
    float: left;
    margin-right: 30px;
}
.nutritionist-img {
    height: 200px;
    float: right;
    margin-left: 30px;
}